@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@300&family=Tilt+Neon&display=swap');
body{
  margin: 0px auto;
  max-width: 1600px;
  padding: 0;
  color: #555151;
}


*[x-apple-data-detectors],  /* iOS */
    .x-gmail-data-detectors,    /* Gmail */
    .x-gmail-data-detectors *,
    .aBn {
        border-bottom: 0 !important;
        cursor: default !important;
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }


    html::-webkit-scrollbar {
      width: 15px
    }
    
    html::-webkit-scrollbar-thumb {
      background: #EC2220;
    }
    html::-webkit-scrollbar-track {
      background: transparent;
    }

#preloader{
  background:  url(images/loader.gif) no-repeat center center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #fff;
}

p{
color: #555151;
}

a{
  text-decoration: none !important;
  cursor: pointer;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.headings{
  font-family: 'Tilt Neon';
  color: #004066;
  font-weight: 700;
}

.header-container{
position: relative;
}

.header-top{
  background-color: #0082c6;
  color: #fff;
}

.header-top-inner{
  display: flex;
  margin-right: 20px;
  justify-content: end;
}

.left-header-top {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 5px 0px;
}

.mails {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.header{
  width: 100%;
  background-color: #fff;
  box-shadow: none;
}

.header-inner{
  display: flex;
  justify-content: space-around;
}


.right-header{
  display: flex;
  padding: 30px 90px;
  gap: 150px;
}

ul.nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    text-transform: uppercase;
}

ul.nav a{
    text-decoration: none;
    color: #004066;
    cursor: pointer;
    font-weight: 700;
}

ul.nav a:hover, a:hover,ul.nav a:hover .fa-angle-down{
  color: #f4bc24;
}

ul.nav a.active{
  color: #f4bc24;
}


ul.nav li:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

ul.nav li .dropdown{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 20px 20px;
  top: 75%;
  transform: translateY(50px);
  width: 200px;
  background-color: #004066;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* z-index: 111; */
  transition: 0.4s all;
}

.dropdown ul{
  display: flex;
    flex-direction: column;
    gap: 15px;
}

ul.nav li .dropdown a{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

ul.nav li .dropdown a:hover{
  padding-left: 10px;
  transition: 0.4s all;
  color: #f4bc24;
}

.fa-angle-down{
  color: #004066;
  margin-left: 5px;
}


.left-header img{
  width: 90px;
  display: flex;
  margin: 0px auto;
}

.left-header-mobile{
  display: none;
}

.left-header p{
font-size: 12px;
margin: 0;
}

.quote-btn{
  background-color: #fff;
  padding: 0px 15px;
  border-radius: 50px;
  box-shadow: 0 -2px 5px rgba(0,0,0,.5);
  border: none;
  text-align: end;
}

.quote-btn a{
  color: #2c2c2c;
  font-weight: 700;
  font-size: 14px;
}


/* mobile menu css */

.hamburger{
  background:none;
  position:absolute;
  top:10px;
  right:20px;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1111;
}

.cross{
  background:none;
  position:absolute;
  top:10px;
  right:20px;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:1111;
}
.menu{z-index:1111; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px; top: 0;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 20px;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 15px;
}

.menu ul .nav__link {
	font-weight: 500;
	color: #666;
	text-decoration: none;
}

.menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	background-color: #f1f1f1;
  color: #999;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

.menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

.menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}

.hamburger, .cross, .menu{
  display: none;
}












/* about page */

.about-header-container{
  background-image: url('images/about-us-header.avif');
  background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
}

.about-vectors{
  background-color: #F4F7FC;
}


.about-content h4{
  color: #004066;
  font-family: 'Tilt Neon';
}

.about-heading{
  color: #004066;
  font-family: 'Tilt Neon';
  font-size: 43px;
  font-weight: 700;
  line-height: 1.3em;
}

.about-p{
  font-family: 'Tilt Neon';
  /* font-size: 18px; */
}

.about-inner{
  display: flex;
  position: relative;
}


.about-vector-box{
  padding: 0;
}

.about-vector-inner{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-vector-box:nth-child(1){
  border-right: dashed 2px #cccccc;
  border-bottom: dashed 2px #cccccc;
}

.about-vector-box:nth-child(2){
  border-right: dashed 2px #cccccc;
  border-bottom: dashed 2px #cccccc;
}

.about-vector-box:nth-child(3){
  border-bottom: dashed 2px #cccccc;
}

.about-vector-box:nth-child(4), .about-vector-box:nth-child(5){
  border-right: dashed 2px #cccccc;
}

.about-vector-heading {
  display: flex;
  justify-content: center;
}

.about-vector-box-area{
    padding: 60px 30px;
    margin: 0 auto;
    position: relative;
    top: 0;
    vertical-align: middle;
    border-radius: 5px;
    text-align: center;
}

/* tabs */

.TabButton {
  font-weight: 500;
  background: #fff;
  border-radius: 50%;
  font-size: 20px;
  padding: 20px;
  line-height: 24px;
  cursor: pointer;
}

.TabButtonSelected {
  font-weight: 500;
  background: #fff;
  border-radius: 50%;
  font-size: 20px;
  padding: 20px;
  line-height: 24px;
  border: 5px solid #004066;
}

.d-chart-n {
display: none;
}

.d-chart-show {
display: block;
}

/* product inner page */

.primer-header-container, .int-emulsion-header-container, .ext-emulsion-header-container, .coolstar-header-container, .contact-header-container{
  background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
}

.primer-header-container{
  background-image: url('images/primer-bg.avif');
}

.int-emulsion-header-container{
  background-image: url('images/int-emulsion-bg.avif');
}

.ext-emulsion-header-container{
  background-image: url('images/ext-emulsion-bg.avif');
}

.coolstar-header-container{
  background-image: url('images/cool-star-bg.avif');
}

.contact-header-container{
  background-image: url('images/contact-bg.avif');
}

.product-inner{
  background-color: #F4F7FC;
}

.prod-heading{
  color: #004066;
  font-family: 'Tilt Neon';
  font-weight: 700;
  text-align: center;
}

.product-columns{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 45px 35px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  border-radius: 10px;
  transition: transform .3s cubic-bezier(.34, 2, .6, 1), box-shadow .2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.product-columns:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, .2);
  transform: translateY(-10px);
}

.products-detail{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.sizes{
  background: #f4bc24;
  padding: 15px 5px;
}



/* product-detail page */

.hide {
  display: none;
}

.features{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features img{
  width: 50px;
}

.feature-imgs{
  display: flex;
  gap: 20px;
  align-items: center;
}

.feature-imgs span{
  font-size: 18px;
  font-weight: 700;
  font-family: 'Tilt Neon';
}

.select-div{
  display: flex;
  width: max-content;
  margin: 0px auto;
}

select.div-toggle {
  padding: 15px 80px;
}

option span{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}




/* contact page */


.contact-page{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-page label{
  color: #484747;
  font-family: 'Tilt Neon';
}

.contact-page input, .contact-page textarea{
  padding: 15px;
  border: none;
  background: #eee;
  border: 1px solid #999;
}

.contact-page input::placeholder, .contact-page textarea::placeholder{
  color: #474747;
  font-size: 14px;
}

.contact-page textarea{
  height: 250px;
}

.submit-btn-contact{
  background: #f4bc24;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0;
    padding: 10px  25px;
}

.submit-btn-contact:hover{
  background-color: #000;
  color: #fff;
}

.mail, .phone{
  color: #e32228;
  font-weight: 600;
  font-size: 18px;
}

.mail:hover{
  color: #f4bc24;
}




/* footer */

.contact{
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -2px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  background-image: url('images/contact-section-bg.png');
  display: flex;
  flex-direction: column;
}


.contact-form-container{
  padding: 30px 25px 30px 25px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  border-radius: 10px;
}

form#contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact1 input{
  border-radius: 5px;
  padding: 23px 35px;
  border: 1px solid #ddd;
  background-color: #eee;
}

.contact1 input:focus, .contact1 input:focus-visible{
  border: none;
}

.submit-btn{
  background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.submit-btn:hover{
  background-color: #004066;
  color: #fff;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #fff;
}

.contact-links-1{
  display: flex;
  flex-direction: column;
  gap: 55px;
  color: #fff;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links img{
  width: 60px;
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
}

.links p{
  color: #fff;
}

.copyrights{
  color: #fff;
  text-align: center;
}


/* Breadcrumbs */

.breadcrumb-item a{
  color: #e32228;
  font-weight: 700;
}

.breadcrumb-item+.breadcrumb-item::before{
  color: #e32228;
}

.breadcrumb-item.active{
  color: #004066;
  font-weight: 700;
}













/* fade effects */

.reveal{
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }

.active.fade-up {
    animation: fade-up .5s ease-in;
  }

.active.fadeInImg{
    animation: fadeInimg .5s ease-in;
}

  @keyframes fade-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes fadeInImg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

 
@media screen and (max-width:768px) {
  .header{
    display: none;
  }
  
  .left-header-mobile{
    display: block;
  }

  .left-header-mobile img {
    width: 70px;
    position: absolute;
    top: 40px;
    left: 55px;
    z-index: 1;
}

.left-header-mobile p {
  position: absolute;
  top: 108px;
  left: 30px;
  font-size: 12px;
  z-index: 1;
}

  .hamburger, .cross, .menu{
    display: block;
  }
  
  .hamburger{
    top: 25px;
  }

  .menu ul{
    padding-top: 0;
  }

 /* about */

  .about-inner img{
    display: none;
  }

  .about-heading{
    text-align: center;
  }

  .about-p{
    font-size: 14px;
  }

  .about-paint-red{
    padding: 25px 15px 30px 35px;
  }

  .about-paint-red img{
    width: 30px;
  }

  .about-paint-red h4{
    font-size: 14px;
  }

  /* product inner */

  .product-columns img{
    width: 50%;
    display: flex;
    margin: 0px auto;
  }

  .product-columns{
    padding: 25px 35px;
    gap: 20px;
    margin-bottom: 20px;
  }

  .prod-heading{
    font-size: 16px;
  }

  .products-detail p{
    margin: 0;
    font-size: 12px;
    text-align: center;
  }

  .cromex, .elite{
    font-size: 16px;
  }

  .maestro{
    font-size: 15px;
  }

  /* product detail */


  .features {
    margin-top: 15px;
  }

  .padding{
    padding: 0 !important;
  }

  .features img {
    width: 35px;
  }

  .feature-imgs span {
    font-size: 14px;
  }

  .products-detail ul{
    font-size: 12px;
  }

  .bucket-img{
    width: 100%;
  }

  /* footer */

  
.contact-page input::placeholder, .contact-page textarea::placeholder{
  font-size: 12px;
}
  
  .contact1 input {
    padding: 2px 5px;
 }

 .contact1 input::placeholder{
  font-size: 12px;
 }

  .contact-form-container {
    padding: 30px 25px 30px 25px;
  }

  .submit-btn{
    font-size: 14px;
  }
  .links{
    align-items: center;
  }
  
  .contact-links-1{
    gap: 45px;
  }

  .links-content h4{
    font-size: 12px;
    text-align: center;
  }

  .links-content p{
    font-size: 10px;
    text-align: center;
  }

  .links img {
    width: 40px;
    padding: 10px;
}
  .contact-info p{
    font-size: 12px;
  }


  .elementor-image img{
    height: 50px;
  }
}



@media screen and (max-width:450px) {
  .header{
    display: none;
  }

  .left-header-mobile{
    display: block;
  }
    
  .left-header-mobile img{
    width: 55px;
    position: absolute;
    top: 40px;
    left: 50px;
  }

  .left-header-mobile p{
    position: absolute;
    top: 95px;
    left: 25px;
    margin: 0;
    font-size: 10px;
  }
 
  .hamburger, .cross, .menu{
    display: block;
  }

  /* about */

  .about-inner img{
    display: none;
  }

  .about-content{
    text-align: center;
  }

  .about-paint-red{
    padding: 20px 30px;
  }

  .about-paint-red img{
    width: 25px;
  }

  .about-paint-red h4{
    font-size: 12px;
    margin: 0;
  }

  .about-heading{
    font-size: 35px;
  }

  .about-vector-box:nth-child(1),.about-vector-box:nth-child(2), .about-vector-box:nth-child(4), .about-vector-box:nth-child(5){
    border-right: none;
  }

  .about-vector-box:nth-child(4), .about-vector-box:nth-child(5){
    border-bottom: 1px dashed #cccccc;
  }

  /* product-inner */

  .product-columns img{
    width: 50%;
    display: flex;
    margin: 0px auto;
  }

  .product-columns{
    padding: 25px 35px;
    gap: 20px;
    margin-bottom: 20px;
  }

  .products-detail p{
    margin: 0;
    font-size: 12px;
    text-align: center;
  }

  .sizes {
    padding: 5px 15px;
    font-size: 12px;
  }

  /* product-detail */

  select.div-toggle {
    padding: 15px 35px;
  }

  .my-info-1{
    padding: 0px 50px !important;
  }

  .primer, .regal, .protect-primer, .prime, .sparkle, .elite, .cromex, .maestro{
    margin-top: 20px;
  }

  .primer .row:nth-child(1), .protect-primer .row:nth-child(1), .regal .row:nth-child(1), .sparkle .row:nth-child(1), .prime .row:nth-child(1), .elite .row:nth-child(1), .cromex .row:nth-child(1), .maestro .row:nth-child(1){
    gap: 10px;
  }

  .primer img, .regal img, .sparkle img, .prime img, .elite img, .maestro img, .cromex img, .protect-primer img{
    width: 50%;
    display: flex;
    margin: 0px auto;
  }

  .products-detail {
    gap: 5px;
    align-items: center;
  }

  .prod-heading {
    font-size: 14px;
    text-align: center;
  }

  .features {
    gap: 15px;
    align-items: center;
    margin-top: 15px;
  }

  .padding{
    padding: 0 !important;
  }

  .features .row{
    gap: 10px;
  }

  .features img {
    width: 35px;
  }

  .feature-imgs{
    flex-direction: column;
    gap: 10px;
  }

  .feature-imgs span {
    font-size: 12px;
    text-align: center;
  }

  .contact-form-container {
    display: none;
  }

  .contact1 input {
    padding: 10px 15px;
  }

  .submit-btn{
    font-size: 14px;
  }

  .contact-links{
    margin-top: 30px;
  }

  .contact-links-1{
    gap: 30px;
    margin-top: 30px;
  }

  .links{
    align-items: center;
  }

  .links img {
    width: 40px;
    padding: 5px;
  }

  .links-content{
    text-align: center;
  }

  .links-content h4{
    font-size: 16px;
  }

  .links-content p{
    font-size: 12px;
  }

  .contact .elementor-image img{
    height: 40px;
  }
  }